[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
celery = {extras = ["redis"], version = "*"}
google-auth-oauthlib = "*"
google-api-python-client = "*"
typing-extensions = "*"
uritemplate = "*"
redis = "==2.10.6"
flower = "*"

[dev-packages]

[requires]
python_version = "3.6"
