[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
black = "*"
gunicorn = "*"
flask-testing = "*"
flask-security = "*"
python-dotenv = "*"
flask-dance = "*"
google-api-python-client = "*"
google-auth-oauthlib = "*"
mypy = "*"
redis = "==2.10.6"
datetime = "*"
python-dateutil = "*"
celery = {extras = ["redis"], version = "*"}
google-auth = "*"
typing-extensions = "*"
flask-env = "*"

[dev-packages]
black = "*"
pyls-black = "*"
pyls-mypy = "*"
pyls-isort = "*"
pytest = "*"
mypy = "*"
typing-extensions = "*"
isort = "*"
ipython = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
