{% extends "base.html" %}

{% block title %}
{{ super () }} - Privacy Policy
{% endblock %}

{% block header %}
<h1>Privacy Policy</h1>
{% endblock %}

{% block content %}
<ul>
    <li><strong>What information do we collect?</strong></li>
    <p>The only data collect is the cub's name, cub's signature, parent's signature (for
	sign in and sign out) and the sign in and out times. This is
	securely stored in a Google sheet only accessible by the Cub
	Leaders.</p>

    <li><strong>How do we use your information?</strong></li>
    <p>This information is used to ensure that we know who is picking
	up the cubs and to keep track of attendance.</p>

    <li><strong>What information do you share?</strong></li>
    <p>None of the information collected is shared.</p>
</ul>
{% endblock %}
